body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #94a3b8;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

a.about {
    display: inline-flexbox;
    padding: 15px 25px;
    border: 2px solid #333;
}

